@use "@partials" as p;

.user-list-header {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;

  select,
  input {
    @include p.input;
  }

  input {
    width: 33%;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    input {
      width: 100%;
    }
  }
}
