@use "@partials" as p;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f8fa;

  h2 {
    @include p.heading(h2);
  }

  button {
    @include p.button;
    margin-top: 1rem;
    width: 100%;
  }
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  @include p.form;
}
