@use "@partials" as p;
@use "sass:color";

.pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1rem;

  button {
    @include p.button;

    &.active {
      background-color: color.adjust(p.$primary, $lightness: -20%);
    }
  }
}
