@use "@partials" as p;

.tab-menu {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.tab-menu__tab {
  @include p.button();
  border-radius: 0.5rem 0.5rem 0 0;
  width: 20%;

  &--active {
    background-color: p.$primary-light;
    color: p.$text;
  }
}
